<!--
Display block and inline
Block:
 - it create a new line
 - the box will expand to 100% of the container
 - width, height, padding, margin, border are applicated
Inline:
 - it does not create a new line
 - width and height are not applicated
 - vertical padding, margin, border are applicated, but they don't move other elements
 - horizontal padding, margin, border are applicated, and move other elements
Inline-block:
 - it does not create a new line
 - width, height, padding, margin, border are applicated
-->

<!-- Outer -->
<h1>Box Model</h1> <!-- h1 is block -->
<a>By</a><a>rustedredswitch</a> <!-- a is block, -->
<p>still learning</p>

<!-- Inner -->
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>

<div class="content-box">I'm a box</div>
<div class="border-box">I'm a box</div>

<span class="span-i-b">Span one</span>
<span>Span two</span>
