<p class="break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque delectus amet quae ullam atque tempora
  iusto libero
  accusamus tempore sit fugit enim, quaerat rerum exercitationem quas ea! Debitis perspiciatis, repellat placeat eveniet
  dicta, facilis rem cum perferendis, iste quo minima saepe eum non error. Omnis accusantium dignissimos sunt illo
  nostrum dolorem aliquam ducimus iure facilis quaerat. Fuga rem ratione quaerat itaque facere quisquam reiciendis,
  numquam porro saepe, illum omnis voluptate maiores magnam deleniti exercitationem quod sunt neque ut culpa. Doloribus,
  nisi soluta! Eius consectetur, doloribus vero magnam qui dolorum praesentium sed labore voluptatem blanditiis placeat
  rem enim quas itaque sapiente nesciunt adipisci, dolor deleniti consequatur corrupti inventore minus! Quis, soluta eum
  veritatis aspernatur repellat dolores illum repellendus exercitationem suscipit commodi! Quaerat molestiae veritatis
  beatae modi, temporibus omnis similique voluptatibus nobis eos ad vero, ducimus nostrum, porro nisi architecto
  exercitationem quas! Voluptatem ratione inventore error nemo molestiae deserunt delectus aliquid suscipit! Possimus
  consequatur eveniet optio soluta quos quaerat, in eaque ipsum minima cumque amet rerum alias laborum. Ex, totam et
  debitis deserunt voluptas officia error impedit eaque placeat voluptate labore ad autem est libero sapiente molestiae
  hic pariatur eum, dolor nesciunt corporis quidem similique? Cum, aut sed? Numquam reprehenderit minima consectetur?
</p>
<p class="keep">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque delectus amet quae ullam atque tempora
  iusto libero
  accusamus tempore sit fugit enim, quaerat rerum exercitationem quas ea! Debitis perspiciatis, repellat placeat eveniet
  dicta, facilis rem cum perferendis, iste quo minima saepe eum non error. Omnis accusantium dignissimos sunt illo
  nostrum dolorem aliquam ducimus iure facilis quaerat. Fuga rem ratione quaerat itaque facere quisquam reiciendis,
  numquam porro saepe, illum omnis voluptate maiores magnam deleniti exercitationem quod sunt neque ut culpa. Doloribus,
  nisi soluta! Eius consectetur, doloribus vero magnam qui dolorum praesentium sed labore voluptatem blanditiis placeat
  rem enim quas itaque sapiente nesciunt adipisci, dolor deleniti consequatur corrupti inventore minus! Quis, soluta eum
  veritatis aspernatur repellat dolores illum repellendus exercitationem suscipit commodi! Quaerat molestiae veritatis
  beatae modi, temporibus omnis similique voluptatibus nobis eos ad vero, ducimus nostrum, porro nisi architecto
  exercitationem quas! Voluptatem ratione inventore error nemo molestiae deserunt delectus aliquid suscipit! Possimus
  consequatur eveniet optio soluta quos quaerat, in eaque ipsum minima cumque amet rerum alias laborum. Ex, totam et
  debitis deserunt voluptas officia error impedit eaque placeat voluptate labore ad autem est libero sapiente molestiae
  hic pariatur eum, dolor nesciunt corporis quidem similique? Cum, aut sed? Numquam reprehenderit minima consectetur?
</p>
