.break {
  border: solid 1px;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  word-break: break-all;
}

.keep {
  border: solid 1px;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  word-break: keep-all;
}
